@import "normalise.less";
@import "mixins.less";
@import "variables.less";
	
body {
	background-color: @colourBackgroundBody;
	font-family: @fontFamily;

	h1,h2,h3,p,span,input {
		margin: 0;
		font-weight: @fontWeight;
		-webkit-font-smoothing: antialiased;
	}
	a { 
		text-decoration: none;
		&:hover { text-decoration: underline; }
	}
	svg {
		width: @sizeSVG;
		height: @sizeSVG;
		overflow: visible !important;
		stroke-width: @strokeWidthArrow;
		fill: none;
	}
	.controls {
		ol {
			padding: 0;
			margin: 0;
			list-style: none;
	
			li {
				float: left;
				width: @sizeControl;
				height: @sizeControl;
				cursor: pointer;
				border: @borderWidthControl solid @colourControl;
				.transition(background-color 1s ease-in-out);
				&.active { background-color: @colourControl; }
			}
		}
	}
	.text-colour, .link-colour a { .transition(color 4s linear); }
	.stroke-colour { .transition(stroke 4s linear); }
	.background-colour { .transition(background 4s linear); &.solid { .transition(background 0s); } &.background-transition { .transition(background 1s ease-in); } }
	.text-colour[data-colour-id="1"], .link-colour[data-colour-id="1"] a { color: @colour1; }
	.text-colour[data-colour-id="2"], .link-colour[data-colour-id="2"] a { color: @colour2; }
	.text-colour[data-colour-id="3"], .link-colour[data-colour-id="3"] a { color: @colour3; }
	.text-colour[data-colour-id="4"], .link-colour[data-colour-id="4"] a { color: @colour4; }
	.text-colour[data-colour-id="5"], .link-colour[data-colour-id="5"] a { color: @colour5; }
	.text-colour[data-colour-id="6"], .link-colour[data-colour-id="6"] a { color: @colour6; }
	.text-colour[data-colour-id="7"], .link-colour[data-colour-id="7"] a { color: @colour7; }
	header {
		.link-colour[data-colour-id="1"] a { color: @lightLinkColour1; }
		.link-colour[data-colour-id="2"] a { color: @lightLinkColour2; }
		.link-colour[data-colour-id="3"] a { color: @lightLinkColour3; }
		.link-colour[data-colour-id="4"] a { color: @lightLinkColour4; }
		.link-colour[data-colour-id="5"] a { color: @lightLinkColour5; }
		.link-colour[data-colour-id="6"] a { color: @lightLinkColour6; }
		.link-colour[data-colour-id="7"] a { color: @lightLinkColour7; }
	}
	.stroke-colour[data-colour-id="1"] { stroke: @colour1; }
	.stroke-colour[data-colour-id="2"] { stroke: @colour2; }
	.stroke-colour[data-colour-id="3"] { stroke: @colour3; }
	.stroke-colour[data-colour-id="4"] { stroke: @colour4; }
	.stroke-colour[data-colour-id="5"] { stroke: @colour5; }
	.stroke-colour[data-colour-id="6"] { stroke: @colour6; }
	.stroke-colour[data-colour-id="7"] { stroke: @colour7; }
	.background-colour[data-colour-id="1"] { background: @fadeColour1; &.solid { background: @solidColour1 !important; }}
	.background-colour[data-colour-id="2"] { background: @fadeColour2; &.solid { background: @solidColour2 !important; }}
	.background-colour[data-colour-id="3"] { background: @fadeColour3; &.solid { background: @solidColour3 !important; }}
	.background-colour[data-colour-id="4"] { background: @fadeColour4; &.solid { background: @solidColour4 !important; }}
	.background-colour[data-colour-id="5"] { background: @fadeColour5; &.solid { background: @solidColour5 !important; }}
	.background-colour[data-colour-id="6"] { background: @fadeColour6; &.solid { background: @solidColour6 !important; }}
	.background-colour[data-colour-id="7"] { background: @fadeColour7; &.solid { background: @solidColour7 !important; }}
}

#notice {
	position: fixed;
	top: @heightNotice + @marginNotice;
	left: @marginNotice;
	right: @marginNotice;
	height: @heightNotice;
	padding: 0 (@sizeSVG * 2) 0 @marginNotice;
	z-index: @zNotice;
	white-space: nowrap;
	text-align: center;
	background-color: @colourBackgroundNotice;
	color: @colourTextNotice;
	&.inactive { display: none; }

	h1 { display: inline-block; }
	.close { 
		position: absolute;
		right: 0;
		margin: ((@heightNotice - @sizeSVG) / 2); 
		stroke: @colourTextNotice;
		cursor: pointer;
	}
}

header {
	position: relative;
	height: 10000px;
	.background-size(cover);
	color: @colourTextHeader;

	.items {
		width: 100%;
		height: 100%;

		.item {
			position: absolute;
			top: @topHeaderItem;
			width: 100%;
			text-align: center;
			font-size: @fontSizeHeaderItem;
			text-shadow: 0 0 @textShadowBlurHeaderItem @colourTextHeader;
			display: none;
			opacity: 0;
			&.active { display: block; } 

			svg { stroke: @colourTextHeader; }
		}
	}
	.controls {
		position: absolute;
		left: 0;
		bottom: 0;
		width: @sizeProfile + @sizeHeaderControls;
		height: @sizeProfile + @sizeHeaderControls;
		
		li { margin: @marginHeaderControl / 2; }
		.horizontal {
			position: absolute;
			left: 0;
			top: 0;
			width: @sizeProfile + @sizeHeaderControls;
			height: @sizeHeaderControls;
		}
		.vertical {
			position: absolute;
			right: 0;
			bottom: 0;
			width: @sizeHeaderControls;
			height: @sizeProfile;
		}	
	}
	#profile {
		position: absolute;
		left: 0;
		bottom: 0;
		width: @sizeProfile;
		height: @sizeProfile;
		background: url(../images/profile.png) no-repeat;
	}
}

nav {
	position: relative;
	top: 0;
	height: @heightNav;
	width: 100%;
	z-index: @zNav;
	background-color: @colourBackgroundNav;
	&.sticky {
		position: -webkit-sticky;
		position: -moz-sticky;
		position: -o-sticky;
		position: -ms-sticky;
		position: sticky;
	}

	div {
		position: absolute;
		width: @sizeProfile;
		text-align: center;
		line-height: @heightNav;
		.user-select(none);
		cursor: default;
	}
	#name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	#switch {
		position: relative;
		width: auto;
		height: 100%;
		float: none;
		margin: 0 @sizeProfile;
		cursor: pointer;

		svg {
			.transition(transform, 1s, ease-in-out);
			.rotateX(0);
			&.up { .rotateX(180); }
		}
	}
	svg {
		position: absolute;
		margin: (@heightNav - @sizeSVG)/2 0;
	}
}

#list {
	position: relative;
	overflow: hidden;

	.intro {
		padding: @paddingListIntro 0;

		h1, h3, p {
			padding-top: @paddingListIntro;
			text-align: center;
			color: @colourTextListIntro;
		}
		svg { stroke: @colourTextListIntro; }
	}
	.carousel {
		position: absolute;
		left: 0;
		margin: 0 @marginListCarousel;
		float: center;
		overflow: hidden;

		.column {
			float: left;
			width: @widthListColumn;
			padding: 0 @paddingListColumn;

			.item {
				height: @heightListItem;
				margin: @marginListItem;
				padding: @paddingListItem;
				background-color: @colourBackgroundListItem; 

				img {
					float: left;
					height: @heightListItemImage;
					width: @widthListItemImage;
					margin-right: @marginListItemImage;
					box-sizing: border-box;
					border: @borderWidthListItemImage solid @colourTextBody;
				}	
				p { color: @colourTextBody; }
			}
		}
	}
	.control-arrow {
		position: absolute;
		top: @topControlArrow;
		height: @heightControlArrow;
		width: @widthControlArrow;
		border: @borderWidthControlArrow solid @colourTextBody;
		.border-radius(@borderRadiusControlArrow);
		background-color: @colourBackgroundControlArrow;
		cursor: pointer;
		.user-select(none);
		&.left {
			left: -@borderRadiusControlArrow/2;
			padding-right: @paddingControlArrow;
			text-align: right;
		}
		&.right {
			right: -@borderRadiusControlArrow/2;
			padding-left: @paddingControlArrow;
			text-align: left;
		}

		svg {
			width: 100%;
			height: 100%;
			stroke-width: @strokeWidthControlArrow;
		}
	}
	.controls {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: @paddingListControl 0;
		text-align: center;

		ol {
			display: inline-block;

			li { margin: 0 @marginListControl; }
		}
	}
}
