@import "reset.less";
@import "mixins.less";
@import "variables.less";
@import "base.less";
@import "fonts.less";

header {
	position: relative;
	background-color: @colourHeaderBackground; 

	#controls {
		width: @faceSize + @controlBoxSize;
		height: @faceSize + @controlBoxSize;
		position: absolute;
		left: 0;
		bottom: 0;
		
		ol {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				float: left;
				width: @controlSize;
				height: @controlSize;
				margin: 0 0 @controlMargin @controlMargin;
				cursor: pointer;
				border: 1px solid @colourHeaderControl;
				border-radius: @controlSize;
  			}
			.active {
				background-color: @colourHeaderControl;
			}
		}
		.horizontal {
			width: @faceSize + @controlBoxSize;
			height: @controlBoxSize;
			position: absolute;
			left: 0;
			top: 0;
		}
		.vertical {
			width: @controlBoxSize;
			height: @faceSize;
			position: absolute;
			right: 0;
			bottom: 0;
		}	
	}
	#face {
		width: @faceSize;
		height: @faceSize;
		position: absolute;
		left: 0;
		bottom: 0;
		background: url(../images/face.png) no-repeat;
	}
}

nav {
	position: relative;
	top: 0;
	background-color: @colourNavBackground;
	height: @navHeight;
	width: 100%;

	&.docked {
		position: fixed;
	}
	&.sticky {
		.sticky();
	}
	div {
		width: @faceSize;
		color: @colourNavText;
		text-align: center;
		float: left;
		line-height: @navHeight;
		text-decoration: none;
	}
	#faceName {
	}
	#projects {
	}
	#search {
		float: right;
		text-align: right;
		padding-right: 5px;

		input {
			width: 50%;
			border-style: none;
			.border-radius(10px);
			color: @colourNavBackground;
			text-align: center;
			background-color: @colourNavText;
		}
	}
	#switch {
		width: auto;
		height: 100%;
		float: none;
		margin: 0 auto;
		cursor: pointer;
		
		svg {
			stroke: @colourNavText;
			stroke-width: 2px;
			fill: none;
			width: 20px;
			height: 40px;
		}
	}
}

#projects {
	height: 1200px;
}

footer { } 

#introMessage {
	color: @colourIntroText;
	position: absolute;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 40px;
	text-shadow: @colourIntroText 0 0 30px;
	display: none;
}
