// Colour
@colour1: hsl(40, 80%, 25%);
@colour2: hsl(70, 80%, 25%);
@colour3: hsl(100, 80%, 25%);
@colour4: hsl(130, 80%, 25%);
@colour5: hsl(170, 80%, 25%);
@colour6: hsl(200, 80%, 25%);
@colour7: hsl(220, 80%, 25%);

@darkenAmount: 10%;
@solidColour1: darken(@colour1, @darkenAmount);
@solidColour2: darken(@colour2, @darkenAmount);
@solidColour3: darken(@colour3, @darkenAmount);
@solidColour4: darken(@colour4, @darkenAmount);
@solidColour5: darken(@colour5, @darkenAmount);
@solidColour6: darken(@colour6, @darkenAmount);
@solidColour7: darken(@colour7, @darkenAmount);

@fadeAmount: 85%;
@fadeColour1: fade(@solidColour1, @fadeAmount);
@fadeColour2: fade(@solidColour2, @fadeAmount);
@fadeColour3: fade(@solidColour3, @fadeAmount);
@fadeColour4: fade(@solidColour4, @fadeAmount);
@fadeColour5: fade(@solidColour5, @fadeAmount);
@fadeColour6: fade(@solidColour6, @fadeAmount);
@fadeColour7: fade(@solidColour7, @fadeAmount);

@lightenAmount: 40%;
@lightLinkColour1: tint(@colour1, @lightenAmount);
@lightLinkColour2: tint(@colour2, @lightenAmount);
@lightLinkColour3: tint(@colour3, @lightenAmount);
@lightLinkColour4: tint(@colour4, @lightenAmount);
@lightLinkColour5: tint(@colour5, @lightenAmount);
@lightLinkColour6: tint(@colour6, @lightenAmount);
@lightLinkColour7: tint(@colour7, @lightenAmount);

@white: white;
@grey: hsl(0, 0%, 20%);

@colourBackgroundBody: @grey;
@colourBackgroundNav: @white;
@colourBackgroundNotice: @white;
@colourBackgroundListItem: @white;
@colourBackgroundControlArrow: @white;

@colourTextHeader: @white;
@colourTextBody: @grey;
@colourTextListIntro: @white;
@colourTextNotice: @grey;

@colourControl: @white;
@colourHeaderControl: @white;

// Structure
@countControl: 7; // must be odd

@sizeProfile: 150px;
@sizeHeaderControls: @sizeControl + @marginHeaderControl + @borderWidthControl * 2;
@sizeControl: 10px;
@sizeSVG: 20px;

@topControlArrow: 50%;
@topHeaderItem: 30%;

@heightNav: 40px;
@heightNotice: @heightNav;
@heightListItem: 100px;
@heightListItemImage: 100px;
@heightControlArrow: 100px;

@widthListColumn: 500px;
@widthListItemImage: 100px;
@widthControlArrow: 80px;

@marginNotice: 10px;
@marginHeaderControl: (@sizeProfile / ((@countControl - 1) / 2)) - @sizeControl - @borderWidthControl * 2;
@marginListCarousel: 100px;
@marginListControl: 20px;
@marginListItem: 10px;
@marginListItemImage: 10px;

@paddingListIntro: 20px;
@paddingListColumn: 25px;
@paddingListItem: 10px;
@paddingControlArrow: 20px;
@paddingListControl: 20px;

@borderRadiusControlArrow: 100px;

@borderWidthControl: 1px;
@borderWidthControlArrow: 5px;
@borderWidthListItemImage: 3px;

@zNav: 1;
@zNotice: 2;

// Other
@fontFamily: "Lato", Helvetica, sans-serif;
@fontWeight: 300;
@fontSizeHeaderItem: 20px;

@strokeWidthArrow: 1px;
@strokeWidthControlArrow: 4px;

@textShadowBlurHeaderItem: 30px;
