// Colour
@colour1: @orange;
@colour2: @white;
@colour3: @grey;
@colour4: @blue;
@colour5: @green;
@colour6: @lightGreen;

@orange: hsl(80, 100%, 20%);
@white: white;
@grey: hsl(0, 0%, 20%);
@blue: hsl(222, 82%, 24%);
@green: hsl(80, 30%, 50%);	
@lightGreen: lighten(@green, 30%);

@colourBackgroundBody: @colour3;
@colourBackgroundHeader: @colour1;
@colourBackgroundNav: @colour2;
@colourBackgroundNotice: @colour2;
@colourBackgroundListItem: @colour2;
@colourBackgroundControlArrow: @colour2;

@colourTextNav: @colour1;
@colourTextHeader: @colour2;
@colourTextBody: @colour3;
@colourTextListIntro: @colour2;
@colourTextNotice: @colour3;

@colourLinkBody: @colour5;
@colourLinkHeader: @colour6;

@colourControl: @colour2;
@colourHeaderControl: @colour2;

// Structure
@countControl: 7; // must be odd

@sizeProfile: 150px;
@sizeHeaderControls: @sizeProfile / ((@countControl - 1) / 2);
@sizeControl: @sizeHeaderControls - @marginHeaderControl - 2;
@sizeSVG: 20px;

@topControlArrow: 50%;
@topHeaderItem: 30%;

@heightNav: 40px;
@heightNotice: @heightNav;
@heightListItem: 100px;
@heightListItemImage: 100px;
@heightControlArrow: 100px;

@widthListColumn: 500px;
@widthListItemImage: 100px;
@widthControlArrow: 80px;

@marginNotice: 10px;
@marginHeaderControl: (0.5 * @sizeHeaderControls) - 2;
@marginListCarousel: 100px;
@marginListControl: 20px;
@marginListItem: 10px;
@marginListItemImage: 10px;

@paddingListIntro: 20px;
@paddingListColumn: 25px;
@paddingListItem: 10px;
@paddingControlArrow: 20px;
@paddingListControl: 20px;

@borderRadiusControlArrow: 100px;

@borderWidthControl: 1px;
@borderWidthControlArrow: 5px;
@borderWidthListItemImage: 3px;

@zNav: 1;
@zNotice: 2;

// Other
@fontFamily: "Lato", Helvetica, sans-serif;
@fontWeight: 300;
@fontSizeHeaderItem: 20px;

@strokeWidthArrow: 1px;
@strokeWidthControlArrow: 4px;

@textShadowBlurHeaderItem: 30px;

@fadeBackgroundHeader: 80%;
